#battle-log-bg {
    border-radius: 1rem;
    background-color: white;
    height: 100%;
    background-image: url("./public/log-bg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
}

#battle-log-image {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.turn-container {
    padding: 0.5rem;
    font-family: 'FEH';
    font-weight: bold;
}

#battle-log-content {
    flex: 1;
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
}

#battle-log {
    overflow-y: auto;
    width: 100%;
    flex-direction: column;
    position: relative;
    max-height: 1000px;
}

#battle-log-header {
    font-family: 'FEH';
    z-index: 1;
    background-color: #13353F;
    color: white;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 2rem;

    img {
        width: 15%;
    }
}

.log-entry {
    padding: 0.5rem;
    color: white;
    font-family: 'FEH';

    &.ally {
        background-color: #13353FCD;
    }

    &.enemy {
        background-color: #32070CCD;
    }

    font-size: 1rem;

    &.standalone {
        border-radius: 0.5rem;
        margin: 0 0.5rem;
        border: 2px solid gray;
    }
}

.preview {
    border-radius: 0.5rem;
    border: 2px solid black;
    background-color: #AAE4B0;
    font-family: 'FEH';
    font-size: 1rem;
    color: black;
    margin: 0 0.5rem;
}

.delete-preview-logs {
    width: 100%;
    font-family: 'FEH';
    text-align: center;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    background-color: #AAE4B0;
}

.delete-single-log {
    border-radius: 2rem;
    border: 2px solid gray;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    padding: 0.25rem 0.5rem;
    height: fit-content;
}

.preview-header {
    background-color: transparent;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    border-bottom: 1px solid #795E5E;

    h4 {
        margin: 0.5rem 0 0.5rem 0.5rem;
    }
}

.unknown-message {
    background-color: #FFC666;
    border-color: #FFBF87;
}