<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" as="style" href="src/scripts/debug/index.css" />
  <link rel="stylesheet" as="style" href="./game.css" />
  <style>
    /* @font-face {
          font-family: "FEH";
          src: url();
        } */
    @font-face {
      font-family: 'FEH';
      src: url('assets/font/feh-fr.woff2') format('woff2');
    }
  </style>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <meta name="theme-color" content="#000000" />

  <link rel="manifest" href="./manifest.json" />

  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="<%= htmlWebpackPlugin.options.gameName %>" />
  <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.gameName %>" />
  <meta name="msapplication-starturl" content="./" />

  <!-- <link rel="icon" type="image/png" sizes="192x192" href="./icons/icons-192.png" />
      <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="./icons/icons-192.png" />

      <link rel="icon" type="image/png" sizes="512x512" href="./icons/icons-512.png" />
      <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="./icons/icons-512.png" /> -->

  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />

  <title>Fire Emblem: Heroes</title>
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      background-color: #000000;
    }
  </style>

  <!-- installs the serviceWorker -->
  <!-- <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('./sw.js')
          })
        }
      </script> -->
</head>

<body style="display: grid; grid-template-columns: 1fr 2fr 1fr;">
  <noscript>Please enable javascript to continue using this application.</noscript>
  <script>
    // window.volume = 1;
  </script>
  <div></div>
  <div id="game" style="font-family: FEH"></div>
  <div>
    <div style="background-color: aqua">
      <!-- <input type="range" value="100" step="1" max="100" style="width: 100%;" onchange="window.volume = this.value / 100" /> -->
    </div>
    <div id="battle-log-bg">
      <div id="battle-log-header">
        <div><img src="./public/weapon-icon.png" /> Battle Log</div>
        <button class="delete-preview-logs">Delete Preview Logs</button>
      </div>
      <div id="battle-log"></div>
    </div>
  </div>
  <script type="module" src="./src/scripts/game.ts"></script>
</body>

</html>